API_ID = 13807651
API_HASH = a7f6628b2445ca18074a772f47492e4f
BOT_TOKEN = 
COOKIE_LINK = 
MONGO_DB_URI = mongodb+srv://moon:moon@moon.w1b88.mongodb.net/?retryWrites=true&w=majority
LOG_GROUP_ID = cool98s
OWNER_ID = 6391774843
STRING_SESSIONS = 
